html
  head
    link(rel="stylesheet", href="/css/vendor.css")
    link(rel="stylesheet", href="/css/main.css")

  body
    h1 Sparkcopter Visualizations
    
    #rotation-x(style="width: 100%; height: 400px")
    
    script(src="/socket.io/socket.io.js")
    script(src="/javascript/vendor.js")
    script(src="/javascript/live-chart.js")
    script(src="/javascript/main.js")
