html
  head
    link(rel="stylesheet", href="/css/vendor.css")
    link(rel="stylesheet", href="/css/main.css")

  body
    h1 Sparkcopter Visualizations
    
    h2 Orientation
    
    .orientation
      #roll.orientation__axis(data-chart="roll" data-ydomain="[-180,180]" data-title="roll")
      #pitch.orientation__axis(data-chart="pitch" data-ydomain="[-90,90]" data-title="pitch")
      #yaw.orientation__axis(data-chart="yaw" data-ydomain="[-180,180]" data-title="yaw")
    
    script(src="/socket.io/socket.io.js")
    script(src="/javascript/vendor.js")
    script(src="/javascript/live-chart.js")
    script(src="/javascript/main.js")
