body {
  padding: 20px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.orientation {
  flex: 2;

  &__axis {
    background-color: #fafafa;
    margin: 0 5px 30px;
    border: 1px solid #eee;
    height: 180px;
  }
}

.guages {
  flex: 1;
  text-align: center;
  &__guage {
    margin: 0 auto;
  }
}

svg {
  font: 10px sans-serif;

  .axis {
    .tick {
      fill: #ddd;
    }

    .domain {
      stroke: #ddd;
    }
  }

  .line {
    stroke: #00a3d5;
    fill: none;
    stroke-width: 1.5px;
  }

  .title {
    fill: #aaa;
    font-size: 1.5em;
  }
}
